package db

import ("fmt"
        "testing"

        "github.com/Juniper/contrail-common/go/pkg/util"
        "github.com/Juniper/contrail-common/go/pkg/generated/models")

func Test{{ schema.JSONSchema.GoName }}(t *testing.T) {
    t.Parallel()
    server, err := util.NewTestServer("Test{{ schema.JSONSchema.GoName }}", tableDefs)
    if err != nil {
        t.Fatal(err)
    }
    defer server.Close()
    model := models.Make{{ schema.JSONSchema.GoName }}()
    db := server.DB
    tx, err := db.Begin()
    if err != nil {
        t.Fatal(err)
    }
    err = Create{{ schema.JSONSchema.GoName }}(tx, model)
    if err != nil {
        t.Fatal(err)
    }
    tx.Commit()

    tx2, err := db.Begin()
    if err != nil {
        t.Fatal(err)
    }
    models, err := List{{ schema.JSONSchema.GoName }}(tx2)
    if err != nil {
        t.Fatal(err)
    }
    tx2.Commit()
    fmt.Println(models)
}